@charset "UTF-8";
.m-dl2-adj{
	transition : 1000ms;
	background-color : #e7d6bc;
	padding : 2.5px;
}

.npNav{
	padding : 2.5px;
	background-color : #f1e8da;
	margin : 10px;
	margin-bottom : 10px;
	border-radius : 10px;
}
.routeNav{
	height : 150px;
	margin : 10px;
	background-color : #f1e8da;
	transition : 1000ms;
	border-radius : 10px;
}
.sdcAdjust{
	transition : 1000ms;
	z-index: 5
}
.imgAdjust{
	height : 500px;
}

.imgSet{
	height : 100%;
	width : 100%;
}
.sec-div{
	position : relative;
	float : left;
	width : 980px;
	height : auto;
	border: 5px solid rgb(95, 26, 26);
	margin : 5px;
}
#hideElm{
	display : none;
}
.sec-div-title{
	font-size : 25px;
	border-bottom: 3px solid #EA7500;
}
.sec-div-text{
	font-size : 15px;
	line-height : 45px;
}