@charset "UTF-8";
.m-sdc-adj{
	border : none;
}
.m-ta-aj{
	width : 100%;
}
thead th {
	font-size: 10px;
}

tbody td {
	font-size: 15px;
}
.d-li-na{
	width:15%;
}

.showImage {
	width: 50px;
	height: 50px;
}

.extendImage {
	position: absolute;
	hegith: 300px;
	width: 300px;
	display: none;
	z-index: 10;
}

.tagContainer {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.actTag {
	font-size: 50%;
	color: blue;
}

.actTag a:link {
	color: blue;
}

.actTag a:visited {
	color: blue;
}

.regTag {
	font-size: 50%;
	color: red;
}

.regTag a:link {
	color: red;
}

.regTag a:visited {
	color: red;
}
.hideTbody{
	display : none;
}