@charset "UTF-8";
.m-sdc-adj{
	border : none;
}
.m-ta-aj{
	width : 100%;
}
thead th {
	font-size: 10px;
}

tbody td {
	font-size: 15px;
}
.m-tb-ti{
	color : #ffffff;
	font-size: 22.5px;
 	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.d-li-na{
	width:30%;
}

.showImage {
	width: 50px;
	height: 50px;
}

.extendImage {
	position: absolute;
	height: 300px;
	width: 300px;
	display: none;
	z-index: 10;
}

.tagContainer {
	font-size : 10px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.regTag {
	font-size: 20px;
	margin : 0px 2.5px;
	color: blue;
}

.regTag a:link {
	color: blue;
}

.regTag a:visited {
	color: blue;
}

.actTag {
	font-size: 20px;
	margin : 0px 5px;
	color: red;
}

.actTag a:link {
	color: red;
}

.actTag a:visited {
	color: red;
}
.hideTbody{
	display : none;
}
.list-newPost {
	box-shadow: 0px 10px 10px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:19px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:25px 20px;
	text-decoration:none;
	text-shadow:-5px 0px 0px #3d768a;
}
.list-newPost:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.list-newPost:active {
	position:relative;
	top:1px;
}

.order-table-tb td:nth-child(2){
		display: inline-flex;
	align-items: center;
	justify-content: center;
}
