#sitebody {
    width: 1440px;
    margin: 0 auto;
    font-size: 13px;
}

#header {
    background-color: rgb(218, 230, 59);
    height: 80px;
    text-align: center;
    line-height: 80px;
}

#sidebar_left {
    background-color: rgb(233, 92, 92);
    width: 200px;
    height: 1400px;
    text-align: center;
    line-height: 400px;
    float: left;
}

#sidebar_right {
    background-color: rgb(119, 71, 231);
    width: 200px;
    height: 1400px;
    text-align: center;
    line-height: 400px;
    float: right;
}

#content {
    margin-left: 200px;
    margin-right: 200px;
    height: 1400px;
    background-color: rgb(22, 245, 22);
    text-align: center;
    line-height: 400px;
}

#footer {
    clear: both;
    background-color: rgb(235, 45, 241);
    height: 80px;
    text-align: center;
    line-height: 80px;
}

.count1 {
    column-count: 3;
    column-rule: 3px double gray;
    width: 100%;
    padding: 395px;
    margin: 10px auto;
    background-image: url(../images/945952.jpg);
    background-attachment: fixed;
    /*背景附著*/
    background-repeat: no-repeat;
    /*重複背景*/
    background-position: bottom;
    /*背景位置*/
    background-size: cover;
    /*背景尺寸*/
    display: flex;
    opacity: 0.8;
    z-index: 0;
    margin-bottom: 0px;
}
.count1_img {
    width: 100%;
    margin: auto;
    text-align: center;
}