@charset "UTF-8";

.innerContainer {
	width: 100%;
	height: 100%;
	padding : 15px;
}

.actTitle {
	position: relative;
	font-size: 25px;
	width: 100%;
}

.actPost {
	position: relative;
	width: 100%;
	border-bottom: 1px solid black;
}

.memberTD {
	width: 14%;
	border: 　1px solid blue;
	padding: 5px;
	vertical-align: top;
}

.d_Main {
	width: 85%;
	border: 1px solid green;
	padding: 5px 5px;
	vertical-align: top;
}

.memeberImg {
	position: relative;
	width: 100%;
	height: 100%;
}

.memeberImgContainer {
	position: relative;
	width: 100%;
	height: 150px;
}

.d_time {
	width: auto;
	border-bottom: 1px solid blue;
	text-align: left;
}

.d_text{
	text-align: left;
	padding: 10px;
	font-size : 20px;
}
.d_text i{
	text-align: left;
	color : white;
	font-size : 15px;
	margin-bottom: 10px;
	display : none;
}

.d_act_img {
	width: 100%;
	max-width:400px;
	height: 100%;
	max-height:300px;
	margin-top: 5px;
}

.d_act_img img {
	width: 100%;
	max-width:400px;
	height: 100%;;
	max-height:300px;
}

.d_sr {
	clear: left;
}

.d_sr_img {
	float: left;
	width: 20px;
	height: 20px;
}
.d_sr_img img{
	float: left;
	width: 100%;
	height: 100%;
}

.d_sr_text {
	font-size : 13.5px;
	margin-left: 30px;
	text-align: left;
	vertical-align: text-bottom;
}

.tagContainer {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.tagContainer div{
	margin-left: 5px;
}

.actTag {
	font-size: 75%;
	color: blue;
}

.actTag a:link {
	color: blue;
}

.actTag a:visited {
	color: blue;
}

.regTag {
	font-size: 75%;
	color: red;
}

.regTag a:link {
	color: red;
}

.regTag a:visited {
	color: red;
}
.memberLocker{
	display : none;
	text-align : left;
	margin: 10px 0;
    padding: 8px 8px 8px 24px;
    border: 1px dashed #FF9A9A;
}
.goReg {
	margin-top : 30px;
	font-style : oblique;
	font-style : italic;
	font-size : 45px;
	color : red;
}
.goReg a:link {
	color: red;
}

.goReg a:visited {
	color: red;
}
.d_noteInfo{
	margin : 10px 0;
	text-align: left;
	padding : 10px;
	vertical-align: top;
}
.actModel{
	display: none;
} 
.hideResp{
	color : white;
	font-size : 25px;
	font-style: italic,oblique;
}
.btn-hide{
	display : none;
}
.comment-container{
	padding : 5px;
}
.comment-input-container{
	display : inline-flex;
	align-items: center;
	justify-content: center;
}
.comment-input-container input{
	padding-left : 15px;
	letter-spacing: 1px;
	height : 100%;
	width : 100%;
}
.comment-btn-container{
	display : inline-flex;
	align-items: center;
	justify-content: center;
}
.resp-ckeditor{
	padding : 25px;
}
.resp-container{
	padding : 15px;
	margin : 5px;
	background-color: #e9e8ff;
}
.d-sr-body{
	clear: left;
	display : none;
	align-items: left;
	justify-content: left;
}
.d_ctrl{
	width : 100%;
	padding : 10px;
	display : none;
}
.d-update-container{
	padding : 10px;
	height : 300px;
	width : 100%;
}
.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 0px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #2aa1c0;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
   0% {
       transform: scale(0);
    }
   30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.control-checkbox input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}
.control-checkbox input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}