@charset "UTF-8";

#routeTable{
	width : 100%;
}

#routeTable tbody div:not(.toggle):not(.toggle-group):not(.d-flex){
	overflow: auto;
	max-height: 150px;
}
#routeTable thead td{
	font-weight: 1000;
}
.routeImg{
	width : 100px;
	height : 100px;
}
.rt-info-limit{
	overflow: auto;
	max-height: 150px;
}
.tooltip{
	font-size : 25px;
}
.append-info{
	display : none;
}